@model SSRFACE.ViewModels.NewsFeedViewModel


@if (Model != null && Model.NewPostdata != null)
{
    <div class="panel panel-default post-content">

        <div class="panel-body">
            <div class="avatar">

                <img src="/images/users/user-2.jpg" class="img-circle" style="width: 60px;" />

                <span> <a href="" style="font-weight:bold">@Model.NewPostdata.UserName</a> </span><br />
                <p style="margin-left: 60px; margin-top: -19px;">
                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                    <time class="timeago" datetime="@Model.NewPostdata.CreatedDate">@Model.NewPostdata.CreatedDate</time>
                </p>

            </div>

            <div class="postMessage" style="margin-top: 11px; margin-left: 9px;">
                <span class="label label-warning"> @string.Format("Post #{0}", Model.NewPostdata.UserPostId) </span><br />
                <div class="post-text">
                    <p class="message">
                        @Model.NewPostdata.PostContent
                        @if (!string.IsNullOrEmpty(Model.NewPostdata.PhotoUrl))
                        {
                            <img src="/images/post-images/1.jpg" alt="post-image" class="img-responsive post-image">
                        }
                    </p>
                </div>
            </div>

        </div>
        <div class="panel-footer">
            <button type="button" class="btn btn-default Comment" data-request-url="@Url.Action("GetComments", "Comments")" data-id="@Model.NewPostdata.UserPostId" value="Comment">
                <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> Comment
            </button>

        </div>
        <div id="@string.Format("{0}_{1}","commentsBlock", Model.NewPostdata.UserPostId)" style="border: 1px solid #f1eaea; background-color: #eaf2ff;">

            <div class="AddComment" style="margin-bottom: 5px; margin-top: 8px;">
                <input type="text" id="@string.Format("{0}_{1}", "comment", Model.NewPostdata.UserPostId)" class="form-control" placeholder="Add a Comment ..." style="display: inline;" />
                <button type="button" data-request-url="@Url.Action("AddComment", "Comments")" class="btn btn-default addComment" data-id="@Model.NewPostdata.UserPostId"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span></button>
            </div>

        </div>
    </div>
}

<script src="~/js/Manualjs/NeewsFeed.js"></script>
<script src="~/js/Manualjs/PostStatus.js"></script>
